<%
api_enabled = Decidim::Civicrm.api.try(:dig, :api_key).present? && Decidim::Civicrm.api.try(:dig, :site_key).present? && Decidim::Civicrm.api.try(:dig, :url).present?
oauth_enabled = Decidim::Civicrm.omniauth.dig(:enabled)
%>
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t ".info_html" %></p>
      <table class="table-list civicrm-info">
        <thead>
          <tr>
            <th><%= t(".feature") %></th>
            <th><%= t(".description") %></th>
            <th><%= t(".status") %></th>
          </tr>
        </thead>
        <tbody>
          <tr data-civicrm-api="<%= api_enabled %>">
            <td><%= t ".api" %></td>
            <td><%= t ".api_html" %></td>
            <td><%= check_icon api_enabled, label: true, icon: false %></td>
          </tr>
          <tr data-civicrm-omniauth="<%= oauth_enabled %>">
            <td><%= t ".omniauth" %></td>
            <td><%= t ".omniauth_html" %></td>
            <td><%= check_icon oauth_enabled, label: true, icon: false %></td>
          </tr>
          <tr data-civicrm-authorizations="<%= Decidim::Civicrm.authorizations&.to_json %>">
            <td><%= t ".authorizations" %></td>
            <td><%= t ".authorizations_html" %></td>
            <td><%= if Decidim::Civicrm.authorizations.respond_to?(:map)
                      Decidim::Civicrm.authorizations.map do |auth|
                        Decidim::Authorization.where(user: current_organization.users, name: auth).count.to_s + " " + Decidim::Verifications.find_workflow_manifest(auth).description + " " +
                        icon_link_to("key" , decidim_civicrm_admin.info_index_path(authorization: auth), t(".regenerate_authorizations"), method: :post)
                      end.join("<br>").html_safe
                    else
                      check_icon false, label: true, icon: false
                    end %></td>
          </tr>
          <tr data-civicrm-send_verification_notifications="<%= Decidim::Civicrm.send_verification_notifications %>">
            <td><%= t ".send_verification_notifications" %></td>
            <td><%= t ".send_verification_notifications_html" %></td>
            <td><%= check_icon Decidim::Civicrm.send_verification_notifications, label: true, icon: false %></td>
          </tr>
          <tr data-civicrm-send_meeting_registration_notifications="<%= Decidim::Civicrm.send_meeting_registration_notifications %>">
            <td><%= t ".send_meeting_registration_notifications" %></td>
            <td><%= t ".send_meeting_registration_notifications_html" %></td>
            <td><%= check_icon Decidim::Civicrm.send_meeting_registration_notifications, label: true, icon: false %></td>
          </tr>
          <tr data-civicrm-publish_meetings_as_events="<%= Decidim::Civicrm.publish_meetings_as_events %>">
            <td><%= t ".publish_meetings_as_events" %></td>
            <td><%= t ".publish_meetings_as_events_html" %></td>
            <td><%= check_icon Decidim::Civicrm.publish_meetings_as_events, label: true, icon: false %></td>
          </tr>
          <tr data-civicrm-publish_meeting_registrations="<%= Decidim::Civicrm.publish_meeting_registrations %>">
            <td><%= t ".publish_meeting_registrations" %></td>
            <td><%= t ".publish_meeting_registrations_html" %></td>
            <td><%= check_icon Decidim::Civicrm.publish_meeting_registrations, label: true, icon: false %></td>
          </tr>
          <tr data-civicrm-block_user_name="<%= Decidim::Civicrm.block_user_name %>" data-civicrm-block_user_email="<%= Decidim::Civicrm.block_user_email %>">
            <td><%= t ".blocked_user_data" %></td>
            <td><%= t ".blocked_user_data_html" %></td>
            <td>
              <div><%= check_icon Decidim::Civicrm.block_user_name, label: false, icon: true %> <%= t ".blocked_user_name" %></div>
              <div><%= check_icon Decidim::Civicrm.block_user_email, label: false, icon: true %> <%= t ".blocked_user_email" %></div>
            </td>
          </tr>
          <tr data-civicrm-login_required_authorizations="<%= Decidim::Civicrm.login_required_authorizations %>">
            <td><%= t ".sign_in_authorizations" %></td>
            <td><%= t ".sign_in_authorizations_html" %></td>
            <td>
              <% 
                Decidim::Civicrm.login_required_authorizations.each do |name, desc| 
                  next if current_organization.available_authorizations.exclude?(name.to_s)
              %>
                <div><%= desc %></div>
              <% end %>
            </td>
          </tr>
          <tr data-civicrm-unauthorized_redirect_url="<%= Decidim::Civicrm.unauthorized_redirect_url %>">
            <td><%= t ".unauthorized_redirect_url" %></td>
            <td><%= t ".unauthorized_redirect_url_html" %></td>
            <td><%= Decidim::Civicrm.unauthorized_url %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<style type="text/css">
  .table-list th,.table-list td {
    text-align: left !important;
  }
  .table-list td .action-icon {
    vertical-align: top;
  }
</style>
