<div class="card">
  <div class="item_show__header item_show__header--with-action-options">
    <h2 class="item_show__header-title">
      <%= t(".title") %>
    </h2>
  </div>

  <%= decidim_form_for(@form, html: { class: "form form-defaults new_event_meeting" }, url: decidim_civicrm_admin.meeting_registrations_path) do |f| %>
    <div class="form__wrapper">
      <div class="row column">
        <%= f.select :decidim_meeting_id, meetings_list %>
        <%= f.number_field :civicrm_event_id %>
        <%= f.text_field :redirect_url %>
        <%= f.check_box :redirect_active %>
      </div>
    </div>

    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= f.submit t(".create"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  <% end %>

</div>
